lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# node.js resources
node_modules
npm-debug.log

# IntelliJ resources
*.iml
*.ipr
*.iws

#mac
.DS_Store

#buildbug
.buildbug
buildbug.json

#bugunit
.bugunit
